<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43898774294-jiiqu21249ohra00q1rba095kond4jge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43898774294-jiiqu21249ohra00q1rba095kond4jge</string>
	<key>API_KEY</key>
	<string>AIzaSyChRjcIBclaeO_faM8vi4QpDBbqIJUkIvk</string>
	<key>GCM_SENDER_ID</key>
	<string>43898774294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelApp</string>
	<key>PROJECT_ID</key>
	<string>first-eb7bb</string>
	<key>STORAGE_BUCKET</key>
	<string>first-eb7bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43898774294:ios:aaa001563907a64c586637</string>
</dict>
</plist>